<style type="text/css">
  .ghContributors {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
  }

  .ghContributors > div {
    width: 50%;
    display: inline-flex;
    margin-bottom: 5px;
  }
  .ghContributors > div label {
    padding-left: 4px;
  }
  .ghContributors > div span {
    font-size: x-small;
    padding-left: 4px;
  }
</style>
<div class="ghContributors">
  {{ $url := .Get 0 }} {{ range getJSON $url }}
  <div>
    <img
      src="https://phucqb.sirv.com/Images/7aa57aea002b8c75d53a.jpg"
      class="inline"
      width="10"
      height="10"
      style="
        height: 10px;
        width: 10px;
        margin-bottom: 0.25em;
        vertical-align: middle;
      "
    />
    <label><a href="{{.html_url}}">@{{.login}}</a></label>
    <span class="contributions">{{.contributions}} commits</span>
  </div>
  {{ end }}
</div>
